<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hillside.hillsidegarden" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityTitle"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityChapel"
            android:label="@string/title_activity_activity_chapel"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDescription"
            android:label="@string/title_activity_activity_description"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCover"
            android:label="@string/title_activity_activity_cover"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityItalian"
            android:label="@string/title_activity_activity_italian"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFrench"
            android:label="@string/title_activity_activity_french"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityWeddeing"
            android:label="@string/title_activity_activity_weddeing"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityGarden"
            android:label="@string/title_activity_activity_garden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityWine"
            android:label="@string/title_activity_activity_wain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFloorMap"
            android:label="@string/title_activity_activity_floor_map"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAccess"
            android:label="@string/title_activity_activity_access"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityExperience"
            android:label="@string/title_activity_activity_experience"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAccessPage1"
            android:label="@string/title_activity_activity_access_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityAccessPage2"
            android:label="@string/title_activity_activity_access_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityAccessPage3"
            android:label="@string/title_activity_activity_access_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityAccessPage4"
            android:label="@string/title_activity_activity_access_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityChapelPage1"
            android:label="@string/title_activity_activity_chapel_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityChapelPage2"
            android:label="@string/title_activity_activity_chapel_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityChapelPage3"
            android:label="@string/title_activity_activity_chapel_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityChapelPage4"
            android:label="@string/title_activity_activity_chapel_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityCoverPage1"
            android:label="@string/title_activity_activity_cover_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityCoverPage2"
            android:label="@string/title_activity_activity_cover_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityCoverPage3"
            android:label="@string/title_activity_activity_cover_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityCoverPage4"
            android:label="@string/title_activity_activity_cover_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityDescriptionPage1"
            android:label="@string/title_activity_activity_description_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityDescriptionPage2"
            android:label="@string/title_activity_activity_description_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityDescriptionPage3"
            android:label="@string/title_activity_activity_description_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityDescriptionPage4"
            android:label="@string/title_activity_activity_description_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityExperiencePage1"
            android:label="@string/title_activity_activity_experience_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityExperiencePage2"
            android:label="@string/title_activity_activity_experience_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityExperiencePage3"
            android:label="@string/title_activity_activity_experience_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityExperiencePage4"
            android:label="@string/title_activity_activity_experience_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFloorMapPage1"
            android:label="@string/title_activity_activity_floor_map_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFloorMapPage2"
            android:label="@string/title_activity_activity_floor_map_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFloorMapPage3"
            android:label="@string/title_activity_activity_floor_map_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFloorMapPage4"
            android:label="@string/title_activity_activity_floor_map_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFrenchPage1"
            android:label="@string/title_activity_activity_french_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFrenchPage2"
            android:label="@string/title_activity_activity_french_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFrenchPage3"
            android:label="@string/title_activity_activity_french_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityFrenchPage4"
            android:label="@string/title_activity_activity_french_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityGardenPage1"
            android:label="@string/title_activity_activity_garden_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityGardenPage2"
            android:label="@string/title_activity_activity_garden_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityGardenPage3"
            android:label="@string/title_activity_activity_garden_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityGardenPage4"
            android:label="@string/title_activity_activity_garden_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityItalianPage1"
            android:label="@string/title_activity_activity_italian_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityItalianPage2"
            android:label="@string/title_activity_activity_italian_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityItalianPage3"
            android:label="@string/title_activity_activity_italian_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityItalianPage4"
            android:label="@string/title_activity_activity_italian_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityTitlePage1"
            android:label="@string/title_activity_activity_title_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityTitlePage2"
            android:label="@string/title_activity_activity_title_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityTitlePage3"
            android:label="@string/title_activity_activity_title_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityTitlePage4"
            android:label="@string/title_activity_activity_title_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWeddeingPage1"
            android:label="@string/title_activity_activity_weddeing_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWeddeingPage2"
            android:label="@string/title_activity_activity_weddeing_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWeddeingPage3"
            android:label="@string/title_activity_activity_weddeing_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWeddeingPage4"
            android:label="@string/title_activity_activity_weddeing_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWinePage1"
            android:label="@string/title_activity_activity_wine_page1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWinePage2"
            android:label="@string/title_activity_activity_wine_page2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWinePage3"
            android:label="@string/title_activity_activity_wine_page3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityWinePage4"
            android:label="@string/title_activity_activity_wine_page4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
