<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hillside.hillsidegarden02">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_58"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Title.Title_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_Activity"
            android:label="@string/title_activity_menu_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Chapel.Chapel_Activity"
            android:label="@string/title_activity_chapel_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Chapel.Chapel_Activity02"
            android:label="@string/title_activity_chapel_02"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Chapel.Chapel_Activity03"
            android:label="@string/title_activity_chapel_03"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Chapel.Chapel_Activity04"
            android:label="@string/title_activity_chapel_04"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Garden.Garden_Activity"
            android:label="@string/title_activity_garden_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Garden.Garden_Activity02"
            android:label="@string/title_activity_garden_02"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Chapel.Chapel_Activity01"
            android:label="@string/title_activity_chapel_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Garden.Garden_Activity01"
            android:label="@string/title_activity_garden_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".French.French_Activity"
            android:label="@string/title_activity_french_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".French.French_Activity01"
            android:label="@string/title_activity_french_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".French.French_Activity02"
            android:label="@string/title_activity_french_02"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".French.French_Activity03"
            android:label="@string/title_activity_french_03"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Italian.Italian_Activity"
            android:label="@string/title_activity_itarian_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Italian.Italian_Activity01"
            android:label="@string/title_activity_italian_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Italian.Italian_Activity02"
            android:label="@string/title_activity_italian_02"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Italian.Italian_Activity03"
            android:label="@string/title_activity_italian_03"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activityw
            android:name=".Weddeing.Weddeing_Activity"
            android:label="@string/title_activity_weddeing_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activityw>

        <activity
            android:name=".Weddeing.Weddeing_Activity01"
            android:label="@string/title_activity_weddeing_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Weddeing.Weddeing_Activity02"
            android:label="@string/title_activity_weddeing_02"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Wine.Wine_Activity"
            android:label="@string/title_activity_wine_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Wine.Wine_Activity01"
            android:label="@string/title_activity_wine_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Wine.Wine_Activity02"
            android:label="@string/title_activity_wine_02"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Staff.Staff_Activity"
            android:label="@string/title_activity_staff_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Staff.Staff_Activity01"
            android:label="@string/title_activity_staff_01"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FloorMap_Activity"
            android:label="@string/title_activity_floor_map_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Access.HomePage_Activity"
            android:label="@string/title_activity_home_page_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".GoogleMap_Activity"
            android:label="@string/title_activity_google_map_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Access.Access_Activity"
            android:label="@string/title_activity_access_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Experience_Activity"
            android:label="@string/title_activity_experience_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Album_Activity"
            android:label="@string/title_activity_album_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".Shooting_Activity"
            android:label="@string/title_activity_shooting_"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DressGallary_Activity"
            android:label="@string/title_activity_dress_gallary"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".BackGroundGallary_Activity"
            android:label="@string/title_activity_back_ground_gallary"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Title.Tap_Activity"
            android:label="@string/title_activity_tap"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".CameraEx"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>
