<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hillside.hillsidegarden">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityTitle"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityChapel"
            android:label="@string/title_activity_activity_chapel"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityDescription"
            android:label="@string/title_activity_activity_description"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityCover"
            android:label="@string/title_activity_activity_cover"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityItalian"
            android:label="@string/title_activity_activity_italian"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityFrench"
            android:label="@string/title_activity_activity_french"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityWeddeing"
            android:label="@string/title_activity_activity_weddeing"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityGarden"
            android:label="@string/title_activity_activity_garden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityWine"
            android:label="@string/title_activity_activity_wain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ActivityFloorMap"
            android:label="@string/title_activity_activity_floor_map"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityAccess"
            android:label="@string/title_activity_activity_access"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActivityExperience"
            android:label="@string/title_activity_activity_experience"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
